:root {
  --header-bg-color: #96bdc4; /* Header background color */
  --body-bg-color: #4e7d9a; /* Body background color */
  --navbar-bg-color: #bfd3c1; /* Navbar background color */
  --text-on-body-color: #d2e8e6; /* Text color on body */
}

body {
  background-color: var(--body-bg-color);
  color: var(--text-on-body-color);
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: var(--header-bg-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

.Salem-Logo {
  width: 60%;
  height: auto;
}

header a img {
  margin-right: auto;
  margin-left: auto;
}

nav {
  width: 100%;
  background-color: var(--navbar-bg-color);
  padding: 10px 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav ul,
.header-links ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

nav ul {
  justify-content: center;
  flex-grow: 1;
}

.header-links {
  display: flex;
  align-items: center;
}

.header-links ul li,
nav ul li {
  padding: 0 10px;
}

nav ul li a,
.header-links ul li a {
  color: var(--text-on-body-color);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-decoration: none;
  padding: 8px 16px;
}

nav ul li a:hover,
.header-links ul li a:hover {
  background-color: #ddd;
}

h1 {
  width: 100%;
  text-align: center; 
  margin: 10px 0;
  padding: 0; 
  order: -1;
  transform: translateY(70px);
}

h3 {
  padding: 20px;
}

.Salem-Flag {
  display: block;
  width: 30%;
  height: auto;
  margin: 100px auto 20px;
}

.Figure {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}

.oregon-body-text {
  padding: 20px;
}

.main-aside {
  padding: 20px;
}

.Portland-Facts {
  padding: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  padding: 10px;
}

.grid-item {
  background-color: #f0f0f0; 
  text-align: center; 
  padding: 20px 0; 
  font-size: 16px; 
  color: black;
}

footer {
  background-color: var(--navbar-bg-color);
  padding: 20px 0;
  text-align: center;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

footer ul li {
  padding: 0 15px;
}

footer ul li a {
  color: var(--text-on-body-color);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-decoration: none;
}

footer ul li a:hover {
  background-color: #ddd;
}
