:root {
  --header-bg-color: #96bdc4; /* Header background color */
  --body-bg-color: #4e7d9a; /* Body background color */
  --navbar-bg-color: #bfd3c1; /* Navbar background color */
  --text-on-body-color: #d2e8e6; /* Text color on body */
}

body {
  background-color: var(--body-bg-color);
  color: var(--text-on-body-color);
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: var(--header-bg-color);
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px;
  position: relative;
}

header a img {
  max-height: 150px;
  width: auto;
}

h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0;
  left: 0;
}

nav {
  width: 100%;
  background-color: var(--navbar-bg-color);
  padding: 10px 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav ul,
.header-links ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

nav ul {
  justify-content: center;
  flex-grow: 1;
}

.header-links {
  display: flex;
  align-items: center;
}

.header-links ul li,
nav ul li {
  padding: 0 10px;
}

nav ul li a,
.header-links ul li a {
  color: var(--text-on-body-color);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-decoration: none;
  padding: 8px 16px;
}

nav ul li a:hover,
.header-links ul li a:hover {
  background-color: #ddd;
}

/* Using position relative to center the text in the Welcome-Container class. */
.Welcome-Container {
  position: relative;
  text-align: center;
  padding: 20px;
}

/* Using an elementor selector to adjust the padding of the h3 tag. */
h3 {
  padding: 20px;
}

/* Using position absolute to center the Portland-Flag class. */
.Portland-Flag {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  height: auto;
  top: 380px;
}

.flag-spacer {
  height: 500px;
}

.Figure {
  display: flex;
  justify-content: center;
}

.oregon-body-text {
  padding: 20px;
}

.main-aside {
  padding: 20px;
}

.Portland-Facts {
  padding: 20px;
}

.Portland-Seal {
  width: 80%;
  justify-content: center;
  height: auto;
  padding: 10px;
}

footer {
  background-color: var(--navbar-bg-color);
  padding: 20px 0;
  text-align: center;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

footer ul li {
  padding: 0 15px;
}

footer ul li a {
  color: var(--text-on-body-color);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-decoration: none;
}

footer ul li a:hover {
  background-color: #ddd;
}
