:root {
  --header-bg-color: #9da1aa; /* Header background color */
  --body-bg-color: #293133; /* Body background color */
  --navbar-bg-color: #a4ba97; /* Navbar background color */
  --text-on-body-color: #f1f6ef; /* Text color on body */
}

body {
  background-color: var(--body-bg-color);
  color: var(--text-on-body-color);
  margin: 0;
  /* Declared font family */
  font-family: Arial, sans-serif;
}

header {
  background-color: var(--header-bg-color);
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px;
  position: relative;
}

header a img {
  max-height: 150px;
  width: auto;
}

h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0;
  left: 0;
}

nav {
  width: 100%;
  background-color: var(--navbar-bg-color);
  padding: 10px 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav ul,
.header-links ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

nav ul {
  justify-content: center;
  flex-grow: 1;
}

/* Using class selector */
.header-links {
  display: flex;
  align-items: center;
}

.header-links ul li,
nav ul li {
  padding: 0 10px;
}

nav ul li a,
.header-links ul li a {
  color: var(--text-on-body-color);
  text-decoration: none;
  padding: 8px 16px;
}
/* Utlized hover tag */
nav ul li a:hover,
.header-links ul li a:hover {
  background-color: #ddd;
}

/* Using float property */
h1 {
  float: left;
  padding-left: 20px;
  padding-top: 100px;
}

h3 {
  padding: 20px;
}
/* Using id selector */
#oregon-panoramic {
  width: 100%;
  height: auto;
}

.Figure {
  display: flex;
  justify-content: center;
}

.oregon-body-text {
  padding: 20px;
}
.main-aside {
  padding: 20px;
}

.Oregon-Facts {
  padding: 20px;
}

.Oregon-Seal {
  width: 10%;
  justify-content: center;
  height: auto;
  padding: 50px;
}

.contact-form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}

.contact-form h3 {
  text-align: center;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  border: rounded;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  margin-bottom: 10px;
  padding: 15px;
  border: rounded;
}
.contact-form textarea {
  height: 200px;
}

.contact-form button {
  cursor: pointer;
  padding: 20px;
  background-color: var(--navbar-bg-color);
  color: var(--text-on-body-color);
  border: rounded;
}

footer {
  background-color: var(--navbar-bg-color);
  padding: 20px 0;
  text-align: center;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

footer ul li {
  padding: 0 15px;
}

footer ul li a {
  color: var(--text-on-body-color);
  text-decoration: none;
}

footer ul li a:hover {
  background-color: #ddd;
}
